#mmdimo-fhid-wrapper {
    display: none;
}
.mmdimo-select-fhid-label,
.mmdimo-select-fhid-description {
    display: none;
}
.mmdimo-fhid-loading {
    display: none;
    float: none;
    visibility: visible;
    width: auto;
}
