.input-group-addon label {
    font-weight: normal;
    margin-bottom: auto;
}
.ui-dialog-content.typeahead {
    overflow: inherit !important;
}
#mmdimo-charity-select {
    margin: -10px 0 5px;
}
#mmdimo-charity-active {
    border: 1px dotted #ddd;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    display: block !important;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
}
#mmdimo-charity-state {
    margin-right: 10px;
}
#mmdimo-charity-state,
.twitter-typeahead,
#mmdimo-charity-name {
    position: inherit !important;
    display: inherit !important;
    position: inherit !important;
    vertical-align: inherit !important;
    background-image: inherit !important;
    background-color: inherit !important;
    background-position: inherit !important;
    background-repeat: inherit !important;
}
#mmdimo-charity-state.hidden,
.twitter-typeahead.hidden,
#mmdimo-charity-name.hidden,
#mmdimo-charity-active.hidden {
    display: none !important;
}
.mmdimo-field-charity br {
    clear: both;
}
.mmdimo-field-charity .tt-menu {
    width: 150%;
    z-index: 10000 !important;
}
.mmdimo-field-charity .tt-dataset {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}
.mmdimo-field-charity .tt-suggestion {
    padding: 5px 10px;
}
.mmdimo-field-charity .tt-suggestion span {
    color: #888;
}
.mmdimo-field-charity .tt-dataset:hover .tt-cursor,
.mmdimo-field-charity .tt-dataset:hover .tt-cursor span {
    background-color: transparent;
    color: inherit;
}
.mmdimo-field-charity .tt-suggestion:hover,
.mmdimo-field-charity .tt-dataset:hover .tt-suggestion:hover,
.mmdimo-field-charity .tt-cursor {
    background-color: #428bca;
    color: #fff;
    cursor: pointer;
}
.mmdimo-field-charity .tt-dataset:hover .tt-suggestion:hover span,
.mmdimo-field-charity .tt-suggestion:hover span,
.mmdimo-field-charity .tt-cursor span {
    color: #fff;
}
